@use '../helpers' as *;

.faq-header {
    margin-top: fluid(60, 30);
    margin-bottom: fluid(60, 30);

    &-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__subtitle {
        margin-bottom: fluid(18, 10);
    }

    &__title {
        margin-bottom: fluid(40, 20);
    }
}