@use '../helpers' as *;

.orders-status {

    &-inner {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            top: 0%;
            right: 0%;
            width: rem(485);
            height: rem(460);
            background-image: url("../../images/orders-status/decor.svg");
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &__title {
        margin-bottom: rem(85);
    }
}

.order-card {
    display: flex;
    margin-bottom: rem(100);
    
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        @include fluid-text(40, 30);
        font-family: var(--font-family-4);
        font-weight: 400;
        color: var(--color-dark);
        margin-bottom: rem(18);
    }

    &__number {
        color: var(--color-dark);
        margin-bottom: rem(13);
    }

    &__image {
        margin-bottom: rem(18);
    }

    &__button {

        @include hover {
            .order-card__button-text {
                color: var(--color-primary);
            }
            .order-card__button-arrow {
                color: var(--color-primary);
            }
        }
        &-text {
            padding-block: fluid(11, 5);
            padding-inline: fluid(30, 23);
            font-size: rem(14);
            text-transform: none;
        }
        &-arrow {
            @include square(fluid(42, 30));
        }
    }

    &__timeline {
        display: flex;
        align-items: center;
    }
}

.order-timeline {

    &__step {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__label {
        color: var(--color-dark);
        max-width: rem(150);
        margin-bottom: rem(12);
    }

    &__time {
        max-width: rem(150);
        display: flex;
        column-gap: rem(3);
        align-items: center;
        font-size: rem(14);
        text-align: center;
        line-height: 100%;
    }

    &__step--pending {
        position: relative;
        top: rem(4);

        & .order-timeline__time {
            display: inline;
        }
    }

    &__icon path{
        color: var(--color-white);
    }
}

