@use '../helpers' as *;

.overview {
    margin-top: rem(60);
    margin-bottom: rem(100);
    
    &-inner {
        display: flex;
        flex-direction: column;
        row-gap: rem(30);
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: rem(20);
    }

    &__subtitle {
        color: var(--color-dark);
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: rem(30);
    }

    &__form {

        &-inner {
            display: flex;
            flex-direction: column;
            row-gap: rem(20);
        }

        &-title {
            font-family: var(--font-family-4);
            margin-bottom: rem(20);
        }

        &-subtitle {
            max-width: rem(402);
            color: var(--color-dark);
            margin-bottom: rem(25);
        }

        &-input {
            border: rem(1) solid var(--color-primary);
            border-radius: rem(8);
            padding: rem(10);
            background-color: var(--color-bg);

            &::placeholder {
                color: var(--color-primary);
                opacity: 0.5;
            }

            &-email {
                max-width: rem(340);
                width: 100%;
            }
        }

        &-button {
            max-width: rem(178);

            @include hover {
                .overview__form-button-text {
                    color: var(--color-primary);
                }
            }
            
            &-text {
                padding-block: fluid(10, 8);
                text-transform: none;
            }
        }
    }

    &__balans {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &-bg {
            position: relative;
        }

        &-info {
            position: absolute;
            top: 22%;
            left: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-title {
            color: var(--color-dark);
            font-family: var(--font-family-4);
            font-weight: 400;
            font-size: rem(36);
            margin-bottom: rem(45);
        }

        &-description {
            color: var(--color-dark);
            max-width: rem(205);
            text-align: center;
        }

        &-button {
            position: relative;
            top: rem(-20);

            @include hover {
                .overview__balans-button-text {
                    color: var(--color-primary);
                }
            }

            &-text {
                padding-block: fluid(11, 5);
                padding-inline: fluid(46, 23);
                text-transform: none;
            }
        }
    }

    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-bg {
            position: relative;
        }

        &-info {
            position: absolute;
            top: 22%;
            left: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-title {
            color: var(--color-dark);
            font-family: var(--font-family-4);
            font-weight: 400;
            font-size: rem(36);
            margin-bottom: rem(55);
        }

        &-description {
            color: var(--color-dark);
            max-width: rem(205);
            text-align: center;
        }

        &-button {
            position: relative;
            top: rem(-20);

            @include hover {
                .overview__card-button-text {
                    color: var(--color-primary);
                }
            }

            &-text {
                padding-block: fluid(11, 5);
                padding-inline: fluid(46, 23);
                text-transform: none;
            }
        }
    }

    
}