@use '../helpers' as *;

.transparency {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: rem(25);

    margin-bottom: fluid(160, 70);

    &::before {
        content: '';
        position: absolute;
        top: 10%;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../../images/transparency/transparency-illustration-kite.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;

        @include mobile {
            display: none;
        }
    }

    &__title {
        margin-bottom: fluid(40, 20);
        text-align: center;
    }

    &__image {
        width: fluid(597, 300);
        height: auto;

        &-wrapper {
            position: relative;
            margin-bottom: fluid(48, 24);
        }

        &-description {
            position: absolute !important;
            top: rem(8);
            left: rem(20) !important;

            @include fluid-text(64, 40);
            position: absolute;
            bottom: -18%;
            left: -12%;
            z-index: 11;

            font-family: var(--font-family-third);
            transform: rotate(-15deg);
            color: var(--color-accent);
        }
    }

    &__button {
        
        @include hover {
            .button__text,
            .button__arrow {
                color: var(--color-primary);
            }
        }
    }
}