@use 'helpers' as *;

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.visible-tablet {
  @include tablet-above {
    display: none !important;
  }
}

.subtitle {
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: fluid(16, 10);
}

/*
.circle-icon {
  --circleSize: #{rem(52)};
  --circleMarginLeft: #{rem(20)};

  position: relative;
  min-height: var(--circleSize);
  padding-right: calc(var(--circleSize) + var(--circleMarginLeft));

  @include laptop {
    --circleSize: #{rem(44)};
    --circleMarginLeft: #{rem(14)};
  }

  @include mobile {
    --circleSize: #{rem(40)};
  }

  &::after {
    @include square(var(--circleSize));
    @include abs-y;

    content: '';
    right: 0;
    background:
      url('../../icons/arrow-top-right_black.svg') center no-repeat
      var(--color-accent);
    border-radius: 50%;
  }
}*/